* {
	margin: 0;
	padding: 0;
	font-family: monospace;	
}

h1 {
	font-size: 32pt;
	margin: 1rem;
}

h2 {
	font-size: 20pt;
}

p {
	font-size: 16pt;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}

.container {
	margin: 2rem;
	padding: 1rem;
	border: 1px solid #000;
}

.dropdown-container {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	width: 15rem;
	list-style-type: none;
	font-size: 16pt;
	margin-bottom: 1rem;
}

#dropdown-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

button {
	border-radius: 0;
}

#add-button {
	border: 1px solid #000;
}

.dropdown-button {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	border: none;
	border-left: 1px solid #000;
}

.dropdown-field {
}

.dropdown-item {
	background-color: #fff;
	padding: 0.5rem;
}

.dropdown-item:hover {
	background-color: #ddd;
}

.dropdown-extension {
	position: absolute;
	width: 100%;
	top: 100%;
	left: -1px;
	border: 1px solid #000;
}

.hidden {
	display: none;
}
